# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*.iml

# Vendor Files

# Debug Files

# Temp Files



# Build Output files
target


# Misc Files
local/
keystore/
